{% extends 'base.html.twig' %}

{% block title %}<title>Absinthe - Mon Compte</title>{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h2>Mon Compte</h2>
        <h4 class="text-right text-secondary">Compte crée le {{ app.user.createdAt|date("d/m/Y") }}</h4>
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>Email</th>
                <td colspan="2"> {{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ app.user.pseudo|default('non renseigné') }}</td>
                <td>
                    <a href="#modalPseudo" class="btn btn-outline-secondary js-modal">Modifier</a>
                </td>

            </tr>
            <tr>
                <th>Mot de Passe</th>
                <td></td>
                <td>
                    <a href="#modalPassword" class="btn btn-outline-secondary js-modal">Modifier</a>
                </td>
            </tr>
            </tbody>
        </table>
        </br>

        <h2 class="mb-4">Mes Documents</h2>
        <div class="table-mobile">
            <table class="table table-hover mt-2">
                {% if documents is empty %}
                    <p>Vous n'avez acutellement aucun document</p>
                {% else %}
                    <thead>
                    <tr>
                        <th>Document</th>
                        <th>Cours</th>
                        <th>Date d'upload</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in documents|reverse %}
                        <tr>
                            <td>{{ document.name }}</td>
                            <td><a href="{{ path('course_show', {'id': document.course.id}) }}" class="link-course"
                                   title="Voir le cours">{{ document.course.name }}</a></td>
                            <td>{{ document.updatedAt|date("d/m/Y") }}</td>
                            <td>
                                <form method="post" action="{{ path('document_delete', {'id': document.id}) }}"
                                      style="display: inline-block" ;
                                      onsubmit=" return confirm('Etes-vous vraiment sur ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
                                    <button class="btn btn-outline-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}

            </table>
        </div>

        <aside id="modalPassword" class="modal" data-isOpen="{{ isPasswordModalOpen }}" aria-hidden="true" role="dialog"
               style="display: none;">
            <div class="modal-wraper js-modal-stop">
                <h2 class="modalTitle">Modifier votre mot de passe :</h2>
                {{ form_start(formPassword) }}
                {{ form_rest(formPassword) }}
                <div class="marginBotton"></div>
                <div class="footerModal">
                    <div class="footerModal--center">
                        <a class="btnCloseReplace btn btn-secondary js-modal-close">Fermer</a>
                        <button type="submit" class="btn btn-success" name="Envoyer">
                            Enregistrer
                        </button>
                    </div>
                </div>
                {{ form_end(formPassword) }}
            </div>
        </aside>

        <aside id="modalPseudo" class="modal" data-isOpen="{{ isPseudoModalOpen }}" aria-hidden="true" role="dialog"
               style="display: none;">
            <div class="modal-wraper js-modal-stop">
                <h2 class="modalTitle">Modifier votre pseudo :</h2>
                {{ form_start(formPseudo) }}
                {{ form_rest(formPseudo) }}
                <div class="marginBotton"></div>
                <div class="footerModal">
                    <div class="footerModal--center">
                        <a class="btnCloseReplace btn btn-secondary js-modal-close">Fermer</a>
                        <button type="submit" class="btn btn-success" name="Envoyer">
                            Enregistrer
                        </button>
                    </div>
                </div>
                {{ form_end(formPseudo) }}
            </div>
        </aside>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal') }}

{% endblock %}
