{% extends 'base.html.twig' %}

{% block title %}Absinthe - {{ title }}{% endblock %}
{% block body %}

<div class="container mt-4">
    <h1 class="mb-4">Cours : {{ title }} </h1>
    <div class="row">
        {% for cours in courses %}
        <div class="col-md-4">
            <div class="card mb-4 card-hover" onClick="location.href='{{path('course_show', {'id': cours.id}) }}'" style="cursor:pointer">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-primary">{{cours.name}}</h3 >
                    </div>
                    <p class="card-text">
                        <p>{{cours.description}}</p>
                        <button class="btn btn-sm btn-outline-info" style="cursor:default">{{cours.courseCategory.name}}</button>
                    </p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}