{% extends 'base.html.twig' %}

{% block title %}Absinthe - {{ title }}{% endblock %}
{% block body %}

<h1 class="courses-title">Cours : {{ title }} </h1>
<div class="block-courses">
    {% for cours in courses %}
    <div class="card-courses" onClick="location.href='{{path('course_show', {'id': cours.id}) }}'">
        <h3 class="card-courses__title">{{cours.name}}</h3>
        <p>{{cours.description}}</p>
        <button class="card-courses__btn">{{cours.courseCategory.name}}</button>
    </div>
    {% endfor %}
</div>
{% endblock %}