{% extends 'base.html.twig' %}

{% block title %}
    <title>Absinthe - Connexion</title>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


        <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>

        <a href="{{path('app_login_cla')}}" class="login__btn">
            {{ contentText }}
        </a>


    </div>
{% endblock %}
