<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- color for url tab on mobile -->
    <meta name="theme-color" content="#D3D3D3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}<title>Absinthe</title>{% endblock %}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{path('home')}}">Absinthe</a>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Cours
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% set categories = slug_generator.getSlug() %}
                            {% for category in categories %}
                                <a class="dropdown-item" href="/categorie/{{category.slug}}">
                                    {{category.name}}</a>
                            {% endfor %} 
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('my_courses')}}">Mes Cours</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('easyadmin')}}">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" id="nav__logout" href="{{path('app_logout')}}">Déconnexion </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-login" href="{{path('app_login')}}">Connexion </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('register')}}">Inscription </a>
                    </li>
                    {% endif %}
                </ul>
                {% if app.user %}
                <span class="navbar-text">
                    Bonjour {{ app.user.pseudo ? app.user.pseudo : app.user.email }} - <a href="{{ path('home_profile') }}"
                        class="link-underline"> Mon Compte</a>&nbsp;
                </span>
                {% endif %}
            </div>
        </nav>
    </header>
        <div class="container mt-2">
        {% for success_message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Opération réussie!</strong> {{success_message}}
        </div>
        {% endfor %}
        {% for warning_message in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Attention !</strong> {{warning_message}}
        </div>
        {% endfor %}
        {% for danger_message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Danger!</strong> {{danger_message}}
        </div>
        {% endfor %}
        </div>
    <div class="main-container">
        <div class="container">
            <div id="react-container">{% spaceless %}{% block body %}{% endblock %}{% endspaceless%}</div>
        </div>
    </div>

    <footer>
        <div class="footer">
        <section class="footer__nav">
            <ul>
                <h2 class="title">Navigation </h2>
                <li>
                    <a href="{{path('home')}}">Accueil</a>
                </li>
                {% if app.user %}
                <li>
                    <a href="{{path('home_profile')}}">Mon Compte</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{path('mentions')}}">Mentions Légales</a>
                </li>
            </ul>
        </section>
        <section class="footer__bde">
            <p>BDE Centrale-Lille</p>
            <img src="{{asset('build/images/logo.jpg')}}" alt="bde-logo" class="logo">
            <p>2018~2019</p>
        </section>
        <section class="footer__contact">
            <p>Ce site a été réalisé par <strong>Adrien Tiburce</strong>
            </p>
             <p>© Copyright - Absinthe </p>
        </section>
        </div>
    </footer>
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>